.contenedor{
    display: flex;
    flex-direction: column;
}



header{
display: flex;
flex-direction: column;
justify-content: space-between;
padding-top: 1rem;
background-color: rgb(52, 52, 231);
color: white;

@media screen and (min-width:568px){
    background-color: rgb(52, 52, 231);
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        color: white;

    }
}
    


#logo{
font-size: 40px;
display: flex;
flex-direction: row;
justify-content: center;
  
 @media screen and (min-width:568px){
     font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 1rem;
}
   
}

nav{
    background-color: rgb(52, 52, 231);
    color: white;
     
    }
   
@media screen and (min-width:568px){
nav{
display: flex;
flex-direction: row;
justify-content: center;
height: 60px;
flex-basis: 50%;
background-color: rgb(52, 52, 231);
color: white;
}
   
}

nav ul{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
     list-style: none;
    
}

@media screen and (min-width:568px){
    nav ul{
   flex-direction: row;
        list-style: none;
        font-size: 12px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;


    }
}

nav ul li{
    padding: 1rem;
}

body{
    display: flex;
    flex-direction: column;
    gap: 20px;
}


main{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    padding-top: 1rem;
    gap: 20px;
    color: white;
}


@media screen and (min-width:568px){
  main{
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
    color: white;
}
}

main div{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-basis: 60%;
}

@media screen and (min-width:568px){
    main div{
        flex-basis: 70%;
    }
}


.servicio{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
}
@media screen and (min-width:568px){
  .servicio{
    align-items: flex-start;
    padding: 1rem;
}

}

.Servicio1{
    background-color: brown;
    justify-content: center;
}

.Servicio2{
    background-color: violet;
    justify-content: center;
}

.Servicio3{
    background-color: rgb(24, 24, 175);
    justify-content: center;
}



aside{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(52, 52, 231);
}

@media screen and (min-width:568px){
aside{
    flex-grow: 1;
    background-color: blue;
    display: flex;
    flex-direction: column;
    align-items: center;  
}
}

ul{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2rem;
    background-color: purple;
}

@media screen and (min-width:568px){
footer{
    background-color: purple;
    color: white;
    padding-top: 2rem;
}
}